body {
    font-family: 'Poppins', sans-serif;
}
/* Navbar */
.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}
/* Ukuran Logo Navbar */
.logo-navbar {
    height: 60px;  
    width: auto;   
    max-width: 150px; 
    object-fit: contain; 
    cursor: default;
}
/* Warna emas untuk judul H1 di Home */
.title-home {
    color: #A89C29;
}


/* Menu Navbar */
.navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 600;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
/* Efek membesar saat hover */
.navbar-nav .nav-link:hover {
    color: #A89C29;
    transform: scale(1.1);
}
/* Tombol */
.btn-primary, .btn-outline-primary {
    border-radius: 20px;
    padding: 6px 16px;
    font-weight: 600;
    font-size: 13px;
}
.btn-primary:hover {
    background-color: #2D336B;
}